.products-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.damo-btn{
    border-radius: 20px;
}
.feedBack{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.review-btn{
  display: flex;
  justify-content: center;
}
.review-btn button{
    border-radius: 10px;

}