.reviews{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
@media only screen and (max-width:500px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}